{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau produit</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{ form_row(form.name) }}</div>
        <div class="col-md-12">
            <div class="col-md-6">{{ form_row(form.description) }}</div>
        </div>
        <div class="col-md-6">{{ form_row(form.imageFile) }}</div>
        <div class="col-md-1">{{ form_row(form.price) }} </div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock%}